@use "@material/textfield";
@use "@material/floating-label";
@use "@material/ripple";
@use "@material/rtl";
@use "@material/feature-targeting";

@mixin smui-text-field-core-styles($query: feature-targeting.all()) {
  .smui-text-field--standard {
    @extend .mdc-text-field--filled;
    //@include ripple.states-base-color(transparent);
    @include textfield.fill-color(transparent);

    &, &.mdc-text-field--with-trailing-icon {
      @include rtl.reflexive-property(padding, 0, 0);
    }

    &.mdc-text-field--disabled {
      @include textfield.fill-color(transparent);
    }

    .mdc-text-field__input {
      padding-left: 0;
      padding-right: 0;
      height: 100%;

      &:-webkit-autofill + .mdc-floating-label {
        transform: translateY(- textfield.$label-position-y) scale(floating-label.$float-scale);
      }
    }

    .mdc-floating-label {
      @include rtl.reflexive-position(left, 0);
    }

    &.mdc-text-field--with-leading-icon {
      .mdc-text-field__icon {
        @include rtl.reflexive-position(left, 0);
      }
      // @include textfield.icon-horizontal-position_(
      //   left,
      //   0,
      //   textfield.$icon-padding - textfield.$icon-position,
      //   0
      // );

      .mdc-floating-label {
        // @include rtl.reflexive-position(left, textfield.$icon-padding - textfield.$icon-position);
      }

      &.mdc-text-field--dense {
        // @include textfield.icon-horizontal-position_(
        //   left,
        //   0,
        //   textfield.$dense-icon-padding - textfield.$dense-icon-position,
        //   0
        // );

        .mdc-floating-label {
          // @include rtl.reflexive-position(left, textfield.$dense-icon-padding - textfield.$dense-icon-position);
        }
      }
    }

    &.mdc-text-field--with-trailing-icon {
      .mdc-text-field__icon {
        @include rtl.reflexive-position(right, 0);
      }

      // @include textfield.icon-horizontal-position_(
      //   right,
      //   0,
      //   textfield.$icon-padding - textfield.$trailing-icon-position,
      //   0
      // );

      &.mdc-text-field--dense {
        // @include textfield.icon-horizontal-position_(
        //   right,
        //   0,
        //   textfield.$dense-icon-padding - textfield.$dense-icon-position,
        //   0
        // );
      }
    }

    &.mdc-text-field--with-leading-icon.mdc-text-field--with-trailing-icon {
      // @include textfield.icon-horizontal-position-two-icons_(
      //   0,
      //   textfield.$icon-padding - textfield.$icon-position,
      //   0,
      //   textfield.$icon-padding - textfield.$trailing-icon-position
      // );

      &.mdc-text-field--dense {
        // @include textfield.icon-horizontal-position-two-icons_(
        //   0,
        //   textfield.$dense-icon-padding - textfield.$dense-icon-position,
        //   0,
        //   textfield.$dense-icon-padding - textfield.$dense-icon-position
        // );
      }
    }

    &.mdc-text-field--with-leading-icon.mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
      @include rtl.reflexive-position(right, 0);
    }

    & + .mdc-text-field-helper-line {
      padding-left: 0;
      padding-right: 0;
    }
  }
}